body{
    background-image: url("./tumblr_onbp4gDR4l1vsx2hio2_1280.png");
}
h1{
    text-decoration: underline;
    font:bold
}
.pokemon-name-show{
    display: inline;

}
#pokemon-name-hide{
    display:none;
}
